# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace
xcuserdata/
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Claude Code
.claude/
CLAUDE.md

.vscode/
.specify
build
WeReadMac.dmg
specs
